<div>
  <div>
    <h1>Endpoint Metrics</h1>
    <div>
      <div>
      <h2>Account count:<span>&nbsp;&nbsp;<%= @account %></span></h2>
      <h2>Accounts count:&nbsp;<span><%= @accounts %></span></h2>
    </div>
    <div>
      <h2>Transaction count:<span>&nbsp;&nbsp;<%= @transaction %></span></h2>
      <h2>Transactions count:<span>&nbsp;<%= @transactions %></span></h2>
    </div>
    </div>
  </div>
</div>